@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-23: 23px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-35: 35px;
    --font-size-39: 39px;
    --font-size-42: 42px;
    --font-size-48: 48px;
    --font-size-64: 64px;

    --color-orange: #FF5300;
    --color-grey: #373737;
    --color-light-grey: #7B7B7B;
    --color-white: white;
    --color-light-pink: #FFF7F4;
    --color-EFEF-white: #EFEFEF;


    --font-weight-xsm: 300;
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;

    --ff-work_sans: "Work Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 300ms linear;
}

.container {
    max-width: 1170px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.67%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.flex-direction-col-reverse {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: start;
}

.flex-direction-colmn {
    flex-direction: column;
}

.bg-color-pink {
    background-color: var(--color-light-pink);
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

/*----------- navbar---------- */

.digi-nav {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-md);
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.ency-nav {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-25);
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.nav-fonts {

    font-family: var(--ff-work_sans);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    color: var(--color-grey);
}

.nav-fonts:hover {
    color: var(--color-orange);
}

.nav-fonts::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-orange);
    transition: all 300ms linear;
}

.nav-fonts:hover::before {
    width: 100%;
}

.gap-29 {
    gap: 29px;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: var(--color-white);
    z-index: 3;
}

/*-------------- section-1-------------- */
.sec-1-heading {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.sec-1-heading-orange {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.pt-150 {
    padding-top: 150px;
}

.sec-1-para {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-light-grey);
}

.contact-us {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-orange);
    border-radius: 5px;
    border: 1px solid var(--color-orange);
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    margin-right: auto;
}

.contact-us:hover {
    color: var(--color-orange);
    background-color: var(--color-white);
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.svg-box {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    cursor: pointer;
}

.mb-5 {
    margin-bottom: 5px;
}

.svg-box:hover {
    background-color: var(--color-orange);
}

.svg-box:hover span path {
    fill: var(--color-white);
}

.sec-1 {
    overflow: hidden;
}

.position-relative {
    position: relative;
}

.svg-parent {
    position: absolute;
    right: -10%;
    transform: translateY(-50%);
    top: 40%;
}

.sec-1:hover .svg-parent {
    right: 0;
}

.text-align-center {
    text-align: center;
}

.text-align-unset {
    text-align: unset !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.pb-70 {
    padding-bottom: 70px;
}

/* --------------------section-2----------------- */
.section-small-heading {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-light-grey);
}

.section-big-heading {
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.section-big-heading-orange {
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.sec-2-para {
    font-family: Work Sans;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-light-grey);
}

.d-none {
    display: none;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-15 {
    margin-bottom: 15px;
}

@media (min-width:992px) {
    .digi-nav {
        font-family: var(--ff-work_sans) !important;
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg) !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .ency-nav {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg) !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .nav-fonts {

        font-family: var(--ff-work_sans);
        font-size: var(--font-size-20) !important;
        font-weight: var(--font-weight-md) !important;
        line-height: 25px !important;
        letter-spacing: 0em;
        text-align: center;
        position: relative;
        color: var(--color-grey);
    }

    .lg-mb-50 {
        margin-bottom: 50px !important;
    }

    .lg-col-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-col-5 {
        width: 41.67%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sec-1-heading {
        font-family: Work Sans;
        font-size: 48px !important;
        font-weight: 700 !important;
        line-height: 59px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-1-heading-orange {
        font-family: Work Sans;
        font-size: 48px !important;
        font-weight: 700 !important;
        line-height: 59px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    /* sec-2 */
    .lg-d-unset {
        display: unset;
    }


    .section-big-heading {
        font-family: Work Sans;
        font-size: 39px !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .section-big-heading-orange {
        font-family: Work Sans;
        font-size: 39px !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .lg-d-block {
        display: block !important;
    }

    .lg-d-none {
        display: none !important;
    }

}

@media (min-width:768px) {
    .digi-nav {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-lg);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .ency-nav {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-md);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .nav-fonts {

        font-family: var(--ff-work_sans);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        position: relative;
        color: var(--color-grey);
    }

    /* sec-1 */

    .sec-1-heading {

        font-family: Work Sans;
        font-size: 39px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-1-heading-orange {
        font-family: Work Sans;
        font-size: 39px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .sec-1-para {
        font-family: Work Sans;
        font-size: 16px !important;
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .md-mb-25 {
        margin-bottom: 25px;
    }

    .md-col-6 {
        max-width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-flex-direction-row {
        flex-direction: row;
    }

    .md-mt-0 {
        margin-top: 0;
    }

    .md-text-align-unset {
        text-align: unset;
    }

    .svg-box {
        width: 40px;
        height: 40px;
        background-color: var(--color-white);
        cursor: pointer;
    }

    .svg-parent {
        position: absolute;
        right: -10%;
        transform: translateY(-50%);
        top: 50%;
    }

    /*----- section-2--------- */

    .section-big-heading {
        font-family: Work Sans;
        font-size: 31px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .section-big-heading-orange {
        font-family: Work Sans;
        font-size: 31px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .md-d-block {
        display: block;
    }

    .md-d-none {
        display: none;
    }

    .md-text-align-unset {
        text-align: unset;
    }
}

@media (min-width:576px) {}


@media (max-width:768px) {
    .menubox {
        width: 40px;
        height: 30px;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
    }

    .menubox span {
        width: 100%;
        height: 4px;
        background-color: var(--color-orange);
        border-radius: 10px;
        box-shadow: 3px 2px 2px 0px rgba(16, 17, 5, 0.3)
    }

    .navitems {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--color-light-pink);
    }

    .show {
        left: 0
    }

}

@media (max-width:576px) {
    .menubox {
        width: 30px;
        height: 20px;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
    }

    .menubox span {
        width: 100%;
        height: 4px;
        background-color: var(--color-orange);
        border-radius: 10px;
        box-shadow: 3px 2px 2px 0px rgba(16, 17, 5, 0.3)
    }
}