@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-23: 23px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-35: 35px;
    --font-size-39: 39px;
    --font-size-42: 42px;
    --font-size-48: 48px;
    --font-size-64: 64px;

    --color-orange: #FF5300;
    --color-grey: #373737;
    --color-light-grey: #7B7B7B;
    --color-white: white;
    --color-light-pink: #FFF7F4;
    --color-EFEF-white: #EFEFEF;
    --color-light-blue: #00ACFF;


    --font-weight-xsm: 300;
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;

    --ff-work_sans: "Work Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
}

.hola {
    color: blue;
    text-align: center;
    font-family: var(--ff-poppins);
    font-weight: 700;
    font-size: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 300ms linear;
}

.container {
    max-width: 1170px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.67%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.flex-direction-col-reverse {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: start;
}

.flex-direction-colmn {
    flex-direction: column;
}

.bg-color-pink {
    background-color: var(--color-light-pink);
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

/*----------- navbar---------- */

.digi-nav {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-md);
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.ency-nav {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-25);
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.nav-fonts {

    font-family: var(--ff-work_sans);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    color: var(--color-grey);
}

.nav-fonts:hover {
    color: var(--color-orange);
}

.nav-fonts::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-orange);
    transition: all 300ms linear;
}

.nav-fonts:hover::before {
    width: 100%;
}

.gap-29 {
    gap: 29px;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: var(--color-white);
    z-index: 3;
}

/*-------------- section-1-------------- */
.sec-1-heading {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.sec-1-heading-orange {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.pt-150 {
    padding-top: 150px;
}

.sec-1-para {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-light-grey);
}

.contact-us {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-orange);
    border-radius: 5px;
    border: 1px solid var(--color-orange);
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.contact-us:hover {
    color: var(--color-orange);
    background-color: var(--color-white);
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.svg-box {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    cursor: pointer;
}

.mb-5 {
    margin-bottom: 5px;
}

.svg-box:hover {
    background-color: var(--color-orange);
}

.svg-box:hover span path {
    fill: var(--color-white);
}

.sec-1 {
    overflow: hidden;
}

.position-relative {
    position: relative;
}

.svg-parent {
    position: absolute;
    right: -10%;
    transform: translateY(-50%);
    top: 40%;
}

.sec-1:hover .svg-parent {
    right: 0;
}

.text-align-center {
    text-align: center;
}

.text-align-unset {
    text-align: unset !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.pb-70 {
    padding-bottom: 70px;
}

/* ----------------------------section-2---------------------------- */
.section-small-heading {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-light-grey);
}

.section-big-heading {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.section-big-heading-orange {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;

    color: var(--color-orange);
}

.sec-2-para {
    font-family: Work Sans;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-light-grey);
}

.d-none {
    display: none;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-15 {
    margin-bottom: 15px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 25px 30px 20px 20px;
    height: 100%;
}

.card:hover {
    box-shadow: 0px 0px 13px 13px rgba(0, 0, 0, 0.1);
}

.card-font {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
    max-width: 206px;
}

.card-font-2 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
    max-width: 177px;
}

.card-font-3 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
    max-width: 195px;
}

.card-font-4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
    max-width: 191px;
}

.card-circle {
    background-color: var(--color-orange);
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-orange);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.card:hover .card-circle {
    background: var(--color-white);
}

.card:hover .card-circle span path {
    fill: var(--color-orange);
}

.card-circle-2 {
    background-color: var(--color-light-grey);
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-light-grey);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.card:hover .card-circle-2 {
    background: var(--color-white);
}

.card:hover .card-circle-2 span path {
    fill: var(--color-light-grey);
}

.card-circle-3 {
    background-color: var(--color-light-blue);
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-light-blue);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.card:hover .card-circle-3 {
    background: var(--color-white);
}

.card:hover .card-circle-3 span path {
    fill: var(--color-light-blue);
}

.card-circle-4 {
    background-color: var(--color-grey);
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-grey);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.card:hover .card-circle-4 {
    background: var(--color-white);
}

.card:hover .card-circle-4 span path {
    fill: var(--color-grey);
}

.mt-35 {
    margin-top: 35px;
}

.mt-30 {
    margin-top: 30px;
}

/* ------------------------------section-3----------------------------------- */
.sec-3-para {
    font-family: Work Sans;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-light-grey);
}

.sec-3-card {
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 70px 40px 70px 40px;
    background-color: var(--color-white);
}

.sec-3-card:hover {
    box-shadow: 0px 0px 13px 13px rgba(0, 0, 0, 0.1);
}

.sec-3-card-no {
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.sec-3-card-text {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
    text-wrap: nowrap;
}

.mt-24 {
    margin-top: 24px;
}

/* --------------------section-4------------------- */
.heading-align-center {
    text-align: center !important;
}

/* cards */
.sec-4-box {
    background: var(--color-white);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}

.sec-4-box:hover {
    box-shadow: 0px 0px 13px 13px rgba(0, 0, 0, 0.1);
}

.sec-4-box-heading {
    color: #000;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 123.6%;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.sec-4-box-para {
    color: var(--color-light-grey);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 150.6%;
    text-align: center;
    padding: 10px;
}

.sec-4-icon {
    width: 40px;
    height: 40px;
    background: var(--color-white);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.sec-4-image-box {
    overflow: hidden;
}


.sec-4-box:hover .sec-4-svg-parent-box {
    right: 0;
}

.sec-4-svg-parent-box {
    position: absolute;
    top: 50%;
    right: -41px;
    transition: all 200ms linear;
    transform: translateY(-50%);
}

.sec-4-icon:hover {
    background-color: #FF5300;
    cursor: pointer;
    box-shadow: 1px 7px 6px rgba(255, 83, 0, 0.50);
}

.sec-4-icon:hover svg path {
    fill: #fff;

}

.overflow-x-auto {
    overflow-x: auto;
}

/* ------------------section-5---------------------- */
.gap-43 {
    gap: 43px;
}

.sec-5-scroll-font {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
    text-wrap: nowrap;
    text-align: center;
}

.sec-5-scroll-font:hover {
    color: var(--color-orange);
}

.orange-layer {
    position: absolute;
    background-color: var(--color-orange);
    width: 100%;
    bottom: 0;
    top: 0;
    opacity: 0;
}

.sec-5-image-box:hover .orange-layer {
    opacity: 80%;
}

.sec-5-orange-font {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

::-webkit-scrollbar {
    display: none;
}

.sec-5-orange-font-2 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.gap-25 {
    gap: 25px;
}

/* -------------section-6---------------------- */

.slider-1-img {
    position: absolute;
    top: 21px;
    width: 40px;
    height: 40px;
    left: -20px;
}

.overflow-hidden {
    overflow: hidden;
}

.slider-1-heading {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.slider-1-para {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.slider-1-box {
    background-color: var(--color-orange);
    padding: 20px 15px 20px 35px;
}

/* the slides */
.slick-list {
    margin: 0 -7px !important;
}

.slider-1 .slick-slide>div {
    padding: 0 10px 0 30px !important;
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}

.mb-12 {
    margin-bottom: 12px;
}

.slick-dots li.slick-active button:before {
    width: 45px !important;
    opacity: 1 !important;
    border-radius: 10px !important;
    margin: 0 0 0 -15px !important;
    background: var(--color-grey);
}

.slick-dots li button:before {
    width: 15px !important;
    height: 15px !important;
    content: "" !important;
    border-radius: 50%;
    background: var(--color-orange);
    opacity: 1 !important;
    transition: 300ms ease-in-out;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: -40px;
}

/* -------------------slider-2---------------------- */
.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-light-grey);
}

.slider-2-box {
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 25px;
    /* min-height: 321px; */
    /* max-width: 570px !important; */

}

.slider-2-small-h {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.slider-2-heading {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.max-w-236 {
    max-width: unset;
}

.flex-wrap {
    flex-wrap: wrap;
}

.slider-2-profile-1 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.slider-2-profile-2 {
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
    text-wrap: nowrap;
}

.slider-2-img {
    width: 80px;
}

.slider-2-profile-img {
    width: 40px;
}

.gap-10 {
    gap: 10px;
}

.gap-8 {
    gap: 8px;
}

.mt-18 {
    margin-top: 18px;
}

/* .slick-slide>div {
    display: flex;
    justify-content: center;
} */

/* the slides */
.slider-2 .slick-slide {
    margin-left: 35px;
}

/* the parent */
.slider-2 .slick-list {
    margin-left: -27px;
}

/* ----------------------section-8---------------------- */
.sec-8-box {
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 18px 18px 25px 18px;
    height: 100%;
}

.sec-8-box:hover .sec-8-circle span svg path {
    stroke: var(--color-orange);
}

.sec-8-box:hover .sec-8-circle {
    background-color: var(--color-white);
}

.sec-8-box:hover {
    box-shadow: 0px 0px 13px 13px rgba(0, 0, 0, 0.1);
}

.sec-8-circle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.sec-8-para {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.sec-8-h1 {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.sec-8-h2 {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.gap-18 {
    gap: 18px;
}

.sec-8-orange {
    color: var(--color-orange);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.text-area {
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.text-area-box {
    width: 100%;
    height: 124px;
    border-radius: 5px;
}

.input-sec-8 {
    outline: none;
    padding: 18px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    color: var(--color-light-grey);
    box-shadow: 0px 1px 10px 0px #0000001A;

}

.sec-8-heading {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.sec-8-heading-orange {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.send-message {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-orange);
    border-radius: 5px;
    border: 1px solid var(--color-orange);
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.send-message:hover {
    color: var(--color-orange);
    background-color: var(--color-white);
}

.mt-50 {
    margin-top: 50px;
}

/*-------------------footer---------------------------  */

.digi-foot {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.ency-foot {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.bg-grey {
    background: var(--color-grey);
}

.svg-box-footer {
    width: 40px;
    height: 40px;
    background: var(--color-white);
}

.svg-box-footer:hover span path {
    fill: var(--color-white);
}

.svg-box-footer:hover {
    background-color: var(--color-orange);
}

.footer-font-1 {
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.footer-font-2 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.input-footer {
    outline: none;
    border: none;
    padding: 18px;
    background: transparent;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
    width: 100%;
}

.footer-email {
    border: 1px solid var(--color-orange);
}

.search-icon {
    border: none;
    padding: 12px 23px 12px 24px;
    background-color: var(--color-orange);
    cursor: pointer;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.svg-box-footer .d-flex {
    width: 18px;
}

.bottomline {
    background-color: var(--color-orange);
    padding: 10px 0;
}

.copyright {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
}

.pt-70 {
    padding-top: 70px;
}

.pb-30 {
    padding-bottom: 30px;
}

/* scroll-button */
.scroll-button {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 4;
    width: 50px;
    display: none;
    height: 50px;
    background-color: var(--color-orange);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--color-orange);
}

.scroll-button:hover {
    background: var(--color-white);
}

.scroll-button:hover path {
    fill: var(--color-orange);
}

@media (min-width:992px) {
    .digi-nav {
        font-family: var(--ff-work_sans) !important;
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg) !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .ency-nav {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg) !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .nav-fonts {

        font-family: var(--ff-work_sans);
        font-size: var(--font-size-20) !important;
        font-weight: var(--font-weight-md) !important;
        line-height: 25px !important;
        letter-spacing: 0em;
        text-align: center;
        position: relative;
        color: var(--color-grey);
    }

    .lg-mb-50 {
        margin-bottom: 50px !important;
    }

    .lg-col-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-col-5 {
        width: 41.67%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sec-1-heading {
        font-family: Work Sans;
        font-size: 48px !important;
        font-weight: 700 !important;
        line-height: 59px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-1-heading-orange {
        font-family: Work Sans;
        font-size: 48px !important;
        font-weight: 700 !important;
        line-height: 59px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    /* sec-2 */
    .lg-d-unset {
        display: unset;
    }


    .section-big-heading {
        font-family: Work Sans;
        font-size: 39px !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .section-big-heading-orange {
        font-family: Work Sans;
        font-size: 39px !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .sec-2-para {
        font-family: Work Sans;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
        max-width: 570px !important;
    }

    .lg-d-block {
        display: block !important;
    }

    .lg-d-none {
        display: none !important;
    }

    /* card */
    .card-circle {
        background-color: var(--color-orange);
        width: 70px !important;
        height: 70px !important;
        border: 1px solid var(--color-orange);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card-circle-2 {
        background-color: var(--color-light-grey);
        width: 70px !important;
        height: 70px !important;
        border: 1px solid var(--color-light-grey);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card-circle-3 {
        background-color: var(--color-light-blue);
        width: 70px !important;
        height: 70px !important;
        border: 1px solid var(--color-light-blue);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card-circle-4 {
        background-color: var(--color-grey);
        width: 70px !important;
        height: 70px !important;
        border: 1px solid var(--color-grey);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card {
        box-shadow: 0px 1px 10px 0px #0000001A;
        padding: 25px 20px 25px 20px !important;
        height: 100%;
    }

    /* sec-3 */
    .sec-3-para {
        font-family: Work Sans;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
        max-width: 570px !important;
    }

    .sec-3-card {
        box-shadow: 0px 1px 10px 0px #0000001A;
        padding: 70px 40px 70px 40px;
    }

    .sec-3-card-no {
        font-family: Work Sans;
        font-size: 48px !important;
        font-weight: 700 !important;
        line-height: 59px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-3-card-text {
        font-family: Work Sans;
        font-size: 20px !important;
        font-weight: 500 !important;
        line-height: 25px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
        text-wrap: nowrap;
    }

    .lg-mt-25 {
        margin-top: 25px;
    }

    .lg-mt-60 {
        margin-top: 60px;
    }

    /* ------------sec-6------------- */

    /* slider */
    .slider-1-box {
        background-color: var(--color-orange);
        padding: 35px 65px 35px 65px !important;
    }

    /* 
    .slider-1-img {
        position: absolute;
        top: 25px;
        width: 80px !important;
        height: 80px !important;
        left: -41px;
    } */

    .slider-1-img {
        position: absolute;
        top: 12% !important;
        width: 80px !important;
        height: 80px !important;
        left: -8% !important;
    }

    .slider-1-heading {
        font-family: Work Sans;
        font-size: 25px !important;
        font-weight: 500 !important;
        line-height: 31px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    /* sectoin-8 */

    .sec-8-h1 {
        font-family: Work Sans;
        font-size: 25px !important;
        font-weight: 500 !important;
        line-height: 31px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .sec-8-h2 {
        font-family: Work Sans;
        font-size: 31px !important;
        font-weight: 600 !important;
        line-height: 39px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-8-svg {
        width: unset !important;
    }

    .sec-8-circle {
        height: 75px !important;
        width: 75px !important;
        border-radius: 50%;
        background-color: var(--color-orange);
        border: 1px solid var(--color-orange);
    }

    .sec-8-para {
        font-family: Work Sans;
        font-size: 20px !important;
        font-weight: 500 !important;
        line-height: 25px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .sec-8-orange {
        color: var(--color-orange);
        font-family: Work Sans;
        font-size: 20px !important;
        font-weight: 500 !important;
        line-height: 25px !important;
        letter-spacing: 0em;
        text-align: left;
    }

    .sec-8-heading {
        font-family: Work Sans;
        font-size: 31px !important;
        font-weight: 600 !important;
        line-height: 39px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-8-heading-orange {
        font-family: Work Sans;
        font-size: 31px !important;
        font-weight: 600 !important;
        line-height: 39px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    /* ---footer------- */
    .digi-foot {
        font-family: Work Sans;
        font-size: 39px !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .ency-foot {
        font-family: Work Sans;
        font-size: 39px !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-1 {
        font-family: Work Sans;
        font-size: 39px !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-2 {
        font-family: Work Sans;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .input-footer {
        outline: none;
        border: none;
        padding: 18px;
        background: transparent;
        font-family: Work Sans;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .svg-box-footer {
        width: 40px !important;
        height: 40px !important;
        background: var(--color-white);
    }

    .svg-box-footer .d-flex {
        width: unset !important;
    }

    .lg-justify-content-start {
        justify-content: start;
    }

    .slider-2-box {
        box-shadow: 0px 1px 10px 0px #0000001A;
        padding: 25px !important;
        min-height: 321px;
        max-width: 570px !important;

    }

    .slider-2-small-h {
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .slider-2-heading {
        font-family: Work Sans;
        font-size: 25px !important;
        font-weight: 500 !important;
        line-height: 31px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .slider-2-profile-1 {
        font-family: Work Sans;
        font-size: 20px !important;
        font-weight: 500 !important;
        line-height: 25px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .slider-2-profile-2 {
        font-family: Work Sans;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .slider-2-img {
        width: unset !important;
    }

    .slider-2-profile-img {
        width: unset !important;
    }

    .max-w-236 {
        max-width: unset !important;
    }
}

@media (min-width:768px) {
    .digi-nav {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-lg);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .ency-nav {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-md);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .nav-fonts {

        font-family: var(--ff-work_sans);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        position: relative;
        color: var(--color-grey);
    }

    /* sec-1 */

    .sec-1-heading {

        font-family: Work Sans;
        font-size: 39px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-1-heading-orange {
        font-family: Work Sans;
        font-size: 39px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .sec-1-para {
        font-family: Work Sans;
        font-size: 16px !important;
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .md-mb-25 {
        margin-bottom: 25px;
    }

    .md-col-6 {
        max-width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-col-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-col-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-flex-direction-row {
        flex-direction: row;
    }

    .md-mt-0 {
        margin-top: 0;
    }

    .md-text-align-unset {
        text-align: unset;
    }

    .svg-box {
        width: 40px;
        height: 40px;
        background-color: var(--color-white);
        cursor: pointer;
    }

    .svg-parent {
        position: absolute;
        right: -10%;
        transform: translateY(-50%);
        top: 50%;
    }

    /*----- section-2--------- */

    .section-big-heading {
        font-family: Work Sans;
        font-size: 31px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .section-big-heading-orange {
        font-family: Work Sans;
        font-size: 31px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .sec-2-para {
        font-family: Work Sans;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
        max-width: 332px;
    }

    .md-d-block {
        display: block;
    }

    .md-d-none {
        display: none;
    }

    .md-text-align-unset {
        text-align: unset;
    }

    .md-py-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    /* card */
    .card-circle {
        background-color: var(--color-orange);
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-orange);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card-circle-2 {
        background-color: var(--color-light-grey);
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-light-grey);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card-circle-3 {
        background-color: var(--color-light-blue);
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-light-blue);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card-circle-4 {
        background-color: var(--color-grey);
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-grey);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .card {
        box-shadow: 0px 1px 10px 0px #0000001A;
        padding: 15px 10px 15px 10px;
        height: 100%;
    }

    .md-mt-60 {
        margin-top: 60px;
    }

    /* sec-3 */
    .sec-3-para {
        font-family: Work Sans;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
        max-width: 332px;
    }

    .sec-3-card-no {
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-3-card-text {
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
        text-wrap: nowrap;
    }

    /* ----------sec-6-------- */

    /* slider */
    .slider-1-box {
        background-color: var(--color-orange);
        padding: 25px 35px 25px 35px;
    }

    .slider-1-img {
        position: absolute;
        top: 26px;
        width: 50px;
        height: 50px;
        left: -26px;
    }

    /* .slider-1-img {
        position: absolute;
        top: 12%;
        width: 50px;
        height: 50px;
        left: -8%;
    } */

    .slider-1-heading {
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .slider-1 .slick-slide>div {
        padding: 0 10px 0 49px !important;
    }

    /* section-8 */
    .sec-8-h1 {
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .sec-8-h2 {
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-8-svg {
        width: 18px;
    }

    .sec-8-circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: var(--color-orange);
        border: 1px solid var(--color-orange);
    }

    .sec-8-para {
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .sec-8-orange {
        color: var(--color-orange);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sec-8-heading {
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-8-heading-orange {
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    /* ------------footer--------------- */
    .digi-foot {
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .ency-foot {
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-1 {
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-2 {
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .input-footer {
        outline: none;
        border: none;
        padding: 14px 6px 14px 6px;
        background: transparent;
        font-family: Work Sans;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .svg-box-footer {
        width: 30px;
        height: 30px;
        background: var(--color-white);
    }

    .svg-box-footer .d-flex {
        width: 18px;
    }

    .md-align-items-center {
        align-items: center;
    }

    .slider-2-box {
        box-shadow: 0px 1px 10px 0px #0000001A;
        padding: 25px;
        /* min-height: 321px; */
        max-width: 570px !important;

    }

    .slider-2-small-h {
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .slider-2-heading {
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .slider-2-profile-1 {
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .slider-2-profile-2 {
        font-family: Work Sans;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .slider-2-img {
        width: 80px;
    }

    .slider-2-profile-img {
        width: 60px;
    }

    .max-w-236 {
        max-width: 236px;
    }
}

@media (min-width:576px) {
    .sm-col-6 {
        max-width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .sm-mt-24 {
        margin-top: 24px;
    }

    .sm-d-none {
        display: none;
    }

    .sm-d-block {
        display: block;
    }

    .sm-mb-25 {
        margin-bottom: 25px;
    }

    .sm-flex-direction-row {
        flex-direction: row;
    }

    .sm.w-70 {
        width: 70%;
    }

    .sm-mt-20 {
        margin-top: 20px;
    }

    .sm-mt-25 {
        margin-top: 25px;
    }
}


@media (max-width:768px) {
    .menubox {
        width: 40px;
        height: 30px;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
    }

    .menubox span {
        width: 100%;
        height: 4px;
        background-color: var(--color-orange);
        border-radius: 10px;
        box-shadow: 3px 2px 2px 0px rgba(16, 17, 5, 0.3)
    }

    .navitems {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--color-light-pink);
    }

    .show {
        left: 0
    }

}

@media (max-width:576px) {
    .menubox {
        width: 30px;
        height: 20px;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
    }

    .menubox span {
        width: 100%;
        height: 4px;
        background-color: var(--color-orange);
        border-radius: 10px;
        box-shadow: 3px 2px 2px 0px rgba(16, 17, 5, 0.3)
    }
}